
.icon-xing:before { content: '\e800'; } /* '' */
.icon-googleplus:before { content: '\e801'; } /* '' */
.icon-dribbble:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-github:before { content: '\e806'; } /* '' */
.icon-youtube:before { content: '\e807'; } /* '' */
.icon-instagram:before { content: '\e809'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */